/* features
0. set uniform header 1-6, same font size and font weight
1. set different header color for header 1-3
2. disable header color 4-6
3. disable inline title color
4. disable external link color
5. set highlight text color to accent
*/

body {
  /* set accent things pink */
  --accent-h: 337; /* Accent hue */
  --accent-s: 100%; /* Accent saturation */
  --accent-l: 75%; /* Accent lightness */

  /* !! ditinguish light and dark theme */
  --things-blue: #2e80f2;
  --things-pink: #ff82b2;
  --things-green: #3eb4bf;
  --things-yellow: #e5b567;
  --things-orange: #e87d3e;
  --things-red: #e83e3e;
  --things-purple: #9e86c8;

  --h1-color: var(--things-blue);
  --h2-color: var(--things-green);
  --h3-color: var(--things-purple);

  /* set --text-normal or inherit */
  --h4-color: var(--text-normal);
  --h5-color: var(--text-normal);
  --h6-color: var(--text-normal);

  --h1-size: 1rem;
  --h2-size: 1rem;
  --h3-size: 1rem;
  --h4-size: 1rem;
  --h5-size: 1rem;
  --h6-size: 1rem;
}

/* cover all header style */
.cm-s-obsidian .cm-header-1, 
.cm-s-obsidian .cm-header-2, 
.cm-s-obsidian .cm-header-3, 
.cm-s-obsidian .cm-header-4, 
.cm-s-obsidian .cm-header-5, 
.cm-s-obsidian .cm-header-6,
.markdown-preview-view h1, 
.markdown-preview-view h2, 
.markdown-preview-view h3, 
.markdown-preview-view h4, 
.markdown-preview-view h5, 
.markdown-preview-view h6 {
  /* use !important to overwrite codemirror default value */
  font-size: var(--font-text-size, 16px) !important;

  /* 1.2-1.8 */
  /* line-height: var(--line-height-normal, 1.5) !important;   */

  font-weight: bold !important;

  /* letter-spacing: 0em !important; */
  letter-spacing: normal !important;
  
  /* text opacity - none */
  opacity: unset !important;

  text-transform: none !important;

  font-variant: normal !important;

  /* margin-top: 1em !important; */
  /* margin-bottom: 0.5em !important; */
}

/* disable inline-title color */
.inline-title {
  color: inherit;
  font-size: 1rem !important;
  letter-spacing: normal !important;
  font-weight: bold !important;
  /* font-weight: 700 !important; */
}

/* disable external link color in editor & reading mode */
/* will not impact internal link */
.markdown-source-view.mod-cm6 .cm-link .cm-underline,
.markdown-source-view.mod-cm6 .cm-url .cm-underline,
.external-link {
    color: var(--text-normal);
}

/* set highlight text color to accent */
/* different set in light and dark theme */
/* optimize performance - refer to Cupertino theme */
.cm-s-obsidian span.cm-highlight,
.markdown-rendered mark {
    color: var(--text-accent);
    background-color: hsla(var(--color-accent-hsl), 0.25);
}


/* highlight active file */
/* body:not(.is-grabbing) .nav-file-title.is-active:hover,
body:not(.is-grabbing) .nav-folder-title.is-active:hover,
.nav-file-title.is-active,
.nav-folder-title.is-active {
    color: var(--nav-item-color-active);
    background-color: var(--nav-item-background-active);
} */

/* @settings

name: Notes Mini Theme
id: notes-mini-theme
collapsed: false
settings:
  - 
      id: accent-color-set-things
      title: Accent Color Set
      type: heading
      level: 1
      collapsed: false
  - 
      id: accent
      title: Accent Color Things Pink
      type: variable-color
      format: hsl-split
      default: '#ff82b2'
  - 
      id: accent
      title: Accent Color Things Blue
      type: variable-color
      format: hsl-split
      default: '#2e80f2'
  - 
      id: accent
      title: Accent Color Things Purple
      type: variable-color
      format: hsl-split
      default: '#9e86c8'
  - 
      id: accent
      title: Accent Color Things Green
      type: variable-color
      format: hsl-split
      default: '#3eb4bf'
*/
